#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

#define U_TAPPING_TERM 200

&mt {
    tapping-term-ms = <250>;
    quick-tap-ms = <250>;
    flavor = "tap-preferred";
};

&lt {
    tapping-term-ms = <250>;
    quick-tap-ms = <250>;
};

/ {
    chosen { zmk,matrix_transform = &default_transform; };
};

/ {
    behaviors {
        hrm_right: hrm_right {
            compatible = "zmk,behavior-hold-tap";
            label = "Homerow Mods Right";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32>;
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
        };

        hrm_left: hrm_left {
            compatible = "zmk,behavior-hold-tap";
            label = "Homerow Mods Left";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 33 34>;
        };

        hold_shift: hold_shift {
            compatible = "zmk,behavior-tap-dance";
            label = "HOLD_SHIFT";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_SHIFT>, <&kp CLCK>;

            tapping-term-ms = <100>;
        };
    };

    combos {
        compatible = "zmk,combos";

        toggle_mouse_layer {
            bindings = <&tog 3>;
            key-positions = <33 9>;
        };

        return_base_layer {
            bindings = <&to 0>;
            key-positions = <5 33>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            // ----------------------------            ---------------------------
            // |    |    |    |     |     |  Layer 0   |    |     |    |    |    |
            // | Q  | W  | E  |  R  |  T  |            | Y  |  U  | I  | O  | P  |
            // |    |    |    |     |     |            |    |     |    |    |    |
            // ----------------------------            ---------------------------
            // |    |    |    |     |     |            |    |     |    |    |    |
            // | A  | S  | D  |  F  |  G  |            | H  | J   | K  | L  | :  |
            // |    |    |    |     |     |            |    |     |    |    |SHFT|
            // ----------------------------            --------------------------
            // |    |    |    |     |     |            |    |     |    |    |    |
            // | Z  | X  | C  |  V  |  B  |            | N  |  M  | <, | >. | ;  |
            // |    |    |RALT|RCMD |     |            |    |RCMD |RALT|    |CTRL|
            // ---------------------------------  --------------------------------
            //                |     |     |    |  |    |    |
            //                | ESC | SPC |TAB |  |BSPC|ENT |
            //                |LCTRL|MOUSE| L1 |  | L2 |SHFT|
            //                ------------------  -----------

            bindings = <
&kp Q             &kp W              &kp E             &kp R                   &kp T                   &kp Y  &kp U                &kp I              &kp O               &kp P
&hrm_left LALT A  &hrm_left LCTRL S  &hrm_left LCMD D  &hrm_left LEFT_SHIFT F  &kp G                   &kp H  &hrm_right RSHIFT J  &hrm_right RGUI K  &hrm_right RCTRL L  &hrm_right RALT SEMI
&kp Z             &kp X              &kp C             &lt 3 V                 &kp B                   &kp N  &lt 4 M              &kp COMMA          &kp PERIOD          &kp SLASH
                                                       &mt LSHIFT ESC          &lt 1 TAB  &lt 3 SPACE         &kp ENTER            &lt 2 BACKSPACE
            >;
        };

        Symbols {
            // --------------------------           ----------------------------
            // |    |    |    |    |    |  Layer 1  |    |    |    |     |     |
            // | !  | @  | #  | $  | %  |           | ^  | &  | *  | (   | )   |
            // |    |    |    |    |    |           |    |    |    |     |     |
            // --------------------------           ---------------------------
            // |    |    |    |    |    |           |    |    |    |     |     |
            // |    | ~  | `  | [  | ]  |           |LEFT|DOWN| UP |RIGHT|     |
            // |    |    |    |    |    |           |    |    |    |     |     |
            // --------------------------           ---------------------------
            // |    |    |    |    |    |           |    |    |    |     |     |
            // |    | ?  | /  | {  | }  |           | '  | "  | :  |  ;  |     |
            // |    |    |    |    |    |           |    |    |    |     |     |
            // ------------------------------- ---------------------------------
            //                |    |    |/||\| |    |    |
            //                |    |    |HOLD| | -  | =  |
            //                |    |    |\||/| |    |    |
            //                ---------------- -----------

            bindings = <
&kp PIPE   &kp EXCL          &kp AMPERSAND      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS          &kp MINUS    &kp PLUS   &kp EQUAL  &kp ASTERISK  &kp BACKSLASH
&kp GRAVE  &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES  &kp LEFT_BRACE        &kp RIGHT_BRACE                &kp LEFT     &kp DOWN   &kp UP     &kp RIGHT     &kp SLASH
&kp CARET  &kp POUND         &kp UNDER          &kp LEFT_BRACKET      &kp RIGHT_BRACKET              &kp PERCENT  &kp TILDE  &kp AT     &kp DOLLAR    &kp QUESTION
                                                &trans                &trans                 &trans               &kp COLON  &kp SEMI
            >;
        };

        Numbers {
            // --------------------------           ---------------------------
            // |    |    |    |    |    |  Layer 2  |    |    |    |    |     |
            // |    |    | 7  | 8  | 9  |           | F1 | F2 | F3 | F4 | F5  |
            // |    |    |    |    |    |           |    |    |    |    |     |
            // --------------------------           ---------------------------
            // |    |    |    |    |    |           |    |    |    |    |     |
            // |    |    | 4  | 5  | 6  |           | F6 | F7 | F8 | F9 | F10 |
            // |    |    |    |    |    |           |    |    |    |    |     |
            // --------------------------           ---------------------------
            // |    |    |    |    |    |           |    |    |    |    |     |
            // |    |    | 1  | 2  | 3  |           |F11 |F12 |BT1 |BT2 |BTCLR|
            // |    |    |    |    |    |           |    |    |    |    |     |
            // ------------------------------- --------------------------------
            //                |    |    |    | |/||\|    |
            //                | 0  |    |    | |HOLD|    |
            //                |    |    |    | |\||/|    |
            //                ---------------- -----------

            bindings = <
&kp N1    &kp N2     &kp N3    &kp N4     &kp N5          &kp N6        &kp N7           &kp N8    &kp N9     &kp N0
&kp LALT  &kp LCTRL  &kp LGUI  &kp LSHFT  &trans          &trans        &kp RIGHT_SHIFT  &kp RGUI  &kp RCTRL  &kp RALT
&kp F1    &kp F5     &kp F12   &trans     &trans          &bt BT_SEL 0  &bt BT_SEL 1     &trans    &trans     &bt BT_CLR_ALL
                               &trans     &trans  &trans                &trans           &trans
            >;
        };

        Mouse {
            // --------------------------           --------------------------
            // |    |    |    |    |    |  Layer 3  |    |    |    |    |    |
            // |    |    |    |    |    |           |    |    |SCUP|    |    |
            // |    |    |    |    |    |           |    |    |    |    |    |
            // --------------------------           --------------------------
            // |    |    |    |    |    |           |    |    |    |    |    |
            // |    |    |    |    |    |           |    |LCLK|MCLK|RCLK|    |
            // |    |    |    |    |    |           |    |    |    |    |    |
            // --------------------------           --------------------------
            // |    |    |    |    |    |           |    |    |    |    |    |
            // |    |    |    |    |    |           |    |    |SCDN|    |    |
            // |    |    |    |    |    |           |    |    |    |    |    |
            // ------------------------------- -------------------------------
            //                |    |/||\|    | |    |    |
            //                |    |HOLD|    | |    |    |
            //                |    |\||/|    | |    |    |
            //                ---------------- -----------

            bindings = <
&kp K_MUTE  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &trans          &trans          &trans  &trans     &trans            &trans      &trans
&kp LALT    &kp LCTRL          &kp LGUI         &kp LEFT_SHIFT  &trans          &trans  &mkp LCLK  &mkp MCLK         &mkp RCLK   &trans
&trans      &kp LG(X)          &kp LG(C)        &kp LG(V)       &trans          &trans  &mo 4      &kp LC(UP_ARROW)  &kp LG(F3)  &trans
                                                &trans          &trans  &trans          &trans     &trans
            >;
        };

        Scroll {
            // --------------------------           --------------------------
            // |    |    |    |    |    |  Layer 4  |    |    |    |    |    |
            // |    |    |    |    |    |           |    |    |    |    |    |
            // |    |    |    |    |    |           |    |    |    |    |    |
            // --------------------------           --------------------------
            // |    |    |    |/||\|    |           |    |    |    |    |    |
            // |    |    |    |HOLD|    |           |    |    |    |    |    |
            // |    |    |    |\||/|    |           |    |    |    |    |    |
            // --------------------------           --------------------------
            // |    |    |    |    |    |           |    |    |    |    |    |
            // |    |    |    |    |    |           |    |    |    |    |    |
            // |    |    |    |    |    |           |    |    |    |    |    |
            // ------------------------------- -------------------------------
            //                |    |/||\|    | |    |    |
            //                |    |HOLD|    | |    |    |
            //                |    |\||/|    | |    |    |
            //                ---------------- -----------

            bindings = <
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans          &trans  &trans
            >;
        };
    };
};
